<header>
    <nav class="navigation">
        <div>
            <a class="logo"><h1>Laure-Anne Le Néel</h1></a>

            <label for="menu-burger" id="burger"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="menu-burger">
            
            <div>
                <ul class="navigation__list">
                    <label for="menu-burger"><i class="fas fa-times"></i></label>
                    <li class="navigation__list_item"><a  class="navigation__list_item-link" href="">Accueil</a></li>
                    <li class="navigation__list_item"><a  class="navigation__list_item-link" href="">CV</a></li>
                    <li class="navigation__list_item"><a  class="navigation__list_item-link" href="">Portfolio</a></li>
                    <li class="navigation__list_item"><a  class="navigation__list_item-link" href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>